@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: sizes(head1);
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fruid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: grid;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
}
.header .navbar {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  padding: 23px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header .navbar .nav-links {
  display: flex;
  margin: 0 78px;
  font-size: 16px;
}
.header .navbar .nav-links a {
  padding: 0 25px;
  color: #fff;
}
.header .navbar .control {
  display: flex;
  align-items: center;
}
.header .navbar .control .line {
  color: #fff;
}
.header .navbar .control-items {
  margin: 0 25px;
  color: #fff;
}
.header .navbar .control-items a {
  color: #fff;
}
.banner {
  max-height: 950px;
  position: relative;
}
.banner-item img {
  display: block;
  width: 100%;
}
.banner-content {
  position: absolute;
  top: 220px;
  left: 161px;
  width: 37%;
  color: #fff;
}
.banner-content h1 {
  font-size: 60px;
}
.banner-content h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.banner-content p {
  font-size: 14px;
}
.banner-content button {
  background-color: unset;
  color: #fff;
  padding: 15px 54.5px;
  border-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 75px;
}
.grid-container {
  top: 672px;
  display: grid;
  position: absolute;
  text-align: center;
  grid-template-columns: 390px 390px 390px;
  background-color: #fff;
  margin-left: 161px;
}
.grid-container .intro-box {
  height: 250px;
  text-align: center;
  object-fit: cover;
}
.grid-container .intro-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.grid-container .intro-box-strength img {
  width: 10%;
  padding: 30px 0 15px 0;
}
.grid-container .intro-box-dumbbells img {
  width: 17%;
  padding: 30px 0 15px 0;
}
.grid-container .intro-box-power img {
  width: 10%;
  padding: 30px 0 15px 0;
}
.grid-container .intro-box-content b {
  font-size: 18px;
  text-transform: uppercase;
}
.grid-container .intro-box-content p {
  font-size: 14px;
  display: inline-block;
  width: 290px;
  margin-top: 20px;
  line-height: 27px;
  color: #777;
}
.grid-container .intro-box-dumbbells {
  box-shadow: -3px -1px 6px -1px #bbbbbb;
}
.grid-container .intro-box-power {
  box-shadow: 5px 4px 5px -4px #bbbbbb;
}
.listing {
  margin: 502px 145px 0 161px;
}
.listing .name-content {
  font-size: 18px;
  text-transform: uppercase;
}
.listing .site-nav {
  border-bottom: 1px solid rgba(216, 209, 209, 0.808);
}
.listing ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.listing ul:hover li:not(:hover) a {
  opacity: 0.2;
}
.listing ul li {
  position: relative;
  padding: 30px 20px 20px 20px;
  cursor: pointer;
}
.listing ul li::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF0000;
  transform: scaleX(0);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.listing ul li:hover::after,
.listing ul li.active::after {
  transform: scaleX(1);
}
.listing ul li a {
  position: relative;
  display: flex;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.listing a:hover {
  color: #FF0000;
}
.listing li.active a {
  color: #FF0000;
}
.listing .main-listing {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.listing .main-listing .list-item {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 25px;
}
.listing .main-listing .list-item .info-product {
  position: relative;
  width: 270px;
  height: 350px;
  overflow: hidden;
}
.listing .main-listing .list-item .info-product img {
  display: block;
  margin-top: 10px;
  margin-left: -7px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  width: 107%;
}
.listing .main-listing .list-item .info-product .content {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 25px;
}
.listing .main-listing .list-item .info-product .product-icon {
  position: absolute;
  right: 8px;
  top: 30px;
  display: grid;
  cursor: pointer;
  transition: 0.7s, transform 0.7s;
  transform: translateX(60px);
}
.listing .main-listing .list-item .info-product .product-icon .btn-hover {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 36px;
  border: 1px solid;
  margin-bottom: 17px;
  border-color: #D3D3D3;
  color: #777;
  background-color: #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.listing .main-listing .list-item .info-product .product-icon .btn-hover:hover {
  background-color: #FF0000;
  color: #fff;
}
.listing .main-listing .list-item .info-product:hover {
  border: 1px solid rgba(216, 209, 209, 0.808);
  box-shadow: 0px 0px 1px 1px #DDDDDD;
}
.listing .main-listing .list-item .info-product:hover .product-icon {
  transform: translateX(0);
}
.about-us {
  width: 52%;
  margin: 0 358px 30px;
}
.about-us h1 {
  margin: 111px 0 0 140px;
  font-size: 36px;
}
.about-us img {
  display: block;
  margin: 47px 0 -30px 340px;
  width: 150px;
  clip-path: circle(29px at 47% 29%);
}
.about-us p {
  color: #999;
  font-size: 18px;
  margin: 0 -12px 42px -8px;
  text-align: center;
  line-height: 30px;
}
.about-us h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 15px 386px;
}
.about-us span {
  margin: 0 0 0 359px;
  font-size: 14px;
  color: #999;
}
.about-us .slick-list {
  margin: 0 -15px;
}
.about-us .slick-initialized .slick-slide {
  display: block;
  padding: 0 15px;
}
.about-us .slick-dots {
  position: absolute;
  bottom: -58px;
  left: 54%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 -5px;
}
.about-us .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 100rem;
  background-color: #777;
  opacity: 0.5;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.about-us .slick-active button {
  background-color: #FF0000;
  opacity: 1;
}
.about-us .slick-dots li button:before {
  display: none;
}
.branch {
  border-top: 1px solid rgba(216, 209, 209, 0.808);
  margin: 145px 145px 0 160px;
  text-align: center;
}
.branch img {
  padding: 40px 40px 40px 20px;
}
.footer {
  width: 100%;
  background-color: #222;
  overflow: hidden;
  box-sizing: border-box;
}
.footer-info {
  text-align: center;
  font-size: 14px;
  color: #999;
}
.footer-info img {
  display: block;
  padding: 100px 0 20px;
}
.footer-info p {
  width: 50%;
  padding: 0 370px 50px;
}
.footer-info i {
  margin: 0 20px 60px;
}
.footer-content {
  display: flex;
  border-top: 1px solid rgba(216, 209, 209, 0.808);
  margin: 0 144px 0 161px;
}
.footer-content h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 80px 174px 40px 0;
}
.footer-content li {
  font-size: 14px;
  color: #777;
  margin: 0 0 30px;
}
.footer-content .contact-us span {
  margin-left: 25px;
}
.footer .copyright p {
  padding: 15px;
  background-color: #000;
  font-size: 14px;
  text-align: center;
  color: #777;
}
@media all and (max-width: 1170px) {
  .header {
    width: 129vw;
  }
  .header .navbar img {
    width: 160px;
  }
  .header .navbar img-item {
    margin: 0px 8px;
  }
  .banner-content h1 {
    font-size: 50px;
  }
  .banner-content h2 {
    font-size: 40px;
  }
  .banner-content p {
    font-size: 11px;
  }
  .banner-content button {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */