.footer {
  width: 100%;
  background-color: @bg-footer;
  overflow: hidden;
  box-sizing: border-box;
  &-info {
    text-align: center;
    font-size: 14px;
    color: @text-boldest-gray-color;
    img {
      display: block;
      padding: 100px 0 20px;
    }

    p {
      width: 50%;
      padding: 0 370px 50px;
    }

    i {
      margin: 0 20px 60px;
    }
  }
  &-content {
    display: flex;
    border-top: 1px solid rgba(216, 209, 209, 0.808);
    margin: 0 144px 0 161px;
    h4 {
      text-transform: uppercase;
      color: @text-white-color;
      font-size: 18px;
      margin: 80px 174px 40px 0;
    }

    li {
      font-size: 14px;
      color: @text-bolder-gray-color;
      margin: 0 0 30px;
    }
    .contact-us {
      span {
        margin-left: 25px;
      }
    }
  }
  .copyright p {
    padding: 15px;
    background-color: @bg-copyright;
    font-size: 14px;
    text-align: center;
    color: @text-bolder-gray-color;
  }
}
