@media all and (max-width: 1170px) {
  .header {
    width: 129vw;

    .navbar img {
      width: 160px;

      &-item {
        margin: 0px 8px;
      }
    }
  }
  .banner {
    &-content {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 11px;
      }
      button {
        font-size: 10px;
      }
    }
  }
}
