.listing {
  max-width: 1170px;
  margin: 60px auto;

  .name-content {
    font-size: 18px;
    text-transform: uppercase;
  }
  .site-nav {
    border-bottom: 1px solid rgba(216, 209, 209, 0.808);
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul:hover li:not(:hover) a {
    opacity: 0.2;
  }
  ul li {
    position: relative;
    padding: 29px 16px 14px 18px;
    cursor: pointer;
  }
  ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: @text-red-color;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  ul li:hover::after,
  ul li.active::after {
    transform: scaleX(1);
  }
  ul li a {
    position: relative;
    display: flex;
    color: @text-black-color;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  a:hover {
    color: @text-red-color;
  }
  li.active a {
    color: @text-red-color;
  }

  .main-listing {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;

    .list-item {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
      grid-gap: 30px;
      grid-row-gap: 48px;

      .info-product {
        position: relative;
        padding-bottom: 43px;
        overflow: hidden;

        img {
          object-fit: cover;
          transition: 0.5s ease-in-out;
        }
        .content {
          font-size: 14px;
          line-height: 25px;
          margin: 17px 0 -18px 29px;
        }
        .product-icon {
          position: absolute;
          right: 19px;
          top: 18px;
          display: grid;
          cursor: pointer;
          transition: 0.7s, transform 0.7s;
          transform: translateX(60px);

          .btn-hover {
            height: 33px;
            width: 33px;
            text-align: center;
            line-height: 39px;
            border: 1px solid;
            margin-bottom: 14px;
            border-color: @border-color;
            color: @text-bolder-gray-color;
            background-color: @bg-color;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;

            &:hover {
              background-color: @text-red-color;
              color: @text-white-color;
            }
          }
        }
        &:hover {
          border: 1px solid rgba(216, 209, 209, 0.808);
          box-shadow: -0px -0px 1px 1px @text-gray-color;

          .product-icon {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
.about-us {
  width: 40%;
  margin: 0 auto;
  padding-top: 34px;

  h1 {
    text-align: center;
    font-size: 36px;
  }
  img {
    margin: 44px 0 -53px 266px;
    width: 220px;
    clip-path: circle(40px at 48% 27%);
  }
  p {
    color: @text-boldest-gray-color;
    font-size: 17px;
    margin: 2px -6px 25px -8px;
    text-align: center;
    line-height: 30px;
  }
  h4 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
  }
  span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: @text-boldest-gray-color;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-initialized .slick-slide {
    display: block;
    padding: 0 15px;
  }
  .slick-dots {
    position: absolute;
    bottom: -58px;
    left: 393px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 -5px;
  }

  .slick-dots button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border-radius: 100rem;
    background-color: @text-bolder-gray-color;
    opacity: 0.5;
    border: none;
    outline: none;
    transition: all 0.2s linear;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 21px;
    padding: 0;
    margin: 0px 5px 0 -5px;
  }

  .slick-active button {
    background-color: @text-red-color;
    opacity: 1;
  }

  .slick-dots li button:before {
    display: none;
  }
}
.branch-image {
  border-top: 1px solid rgba(216, 209, 209, 0.808);
  margin: 8% auto 0%;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin: 8% auto 0%;
  justify-content: space-between;
  img {
    padding: 32px 40px 40px 20px;
  }
}
