.banner {
    max-height: 750px;
    position: relative;
    &-item{
        img{
            width: 100%;
        }
    }
    &-content{
        position: absolute;
        top: 25%;
        left: 11.05%;
        width: 37%;
        color: @text-white-color;
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 40px;
            margin-bottom: 3%;
        }
        p{
            font-size: 14px;
        }
        button{
            background-color: unset;
            color: @text-white-color;
            padding: 15px 54.5px;
            border-color: @text-white-color;
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 11.4%;

        }
    }
}
.container{
    
}
